body {
  margin:0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 700px;
}

#keyboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
  min-width: none;
  gap: 2px;
  margin-bottom: 10px;
}

.keyboard {
  border-radius: 10px;
  font-size: 16px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  color: #ab6161;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.hangman {
  width: 400px;
}

.lines {
  font-size: 30px;
  background-color: rgb(237, 244, 242);
  margin:3px;
}

#gameOverWord {
  margin-top: 0px;
}
.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 300px;
  height: 65px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
  margin:0  auto 8px;
}

.startButton, .restartButton {
  font-size: 16px;
  width: 230px;
  height: fit-content;
  border: 3px solid rgb(110, 60, 60);
  color: #ab6161;
  font-weight: bold;
  border-radius:10px;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing:-0.6vh;
}

.startButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  align-items: center;
  gap: 10px;
}

#win {
  color: green;
}

h1 { 
  color: #ab6161;
}

p, label{
  margin-bottom: 5px;
  font-size: medium;
  letter-spacing:-0.4vh;
  font-weight: bold;
}

.random {
  margin-bottom:-5px;
}

.container-game, #game{
  width:100%;
}

.icon {
  position:relative;
  margin:0 3px 0 0;
  font-size:20px;
}
.alert-empty-input {
  display:flex;
  align-items: center;
  justify-content: center;
  color:#ab6161;
  font-size: small;
  font-weight: bold;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #keyboardContainer {
    width:100%;
  }
  .main{
    width:100%;
  }
  
  .keyboard {
    width: 40px;
    height: 40px;
    font-size: 25px;
    border: 1px solid black;
    color: #ab6161;
    padding:auto;
  }
  .hangman {
    width:100%;
  }
  .hidden-word {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
  }

  .lines{
    margin-right:0;
  }
  input {
    width:90%;
  }
}